# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/

# Operating system files
.DS_Store
Thumbs.db

# Plots
*.png
*.jpeg
*.pdf
*.svg


runs/
old/
# Random files and stuff
merops/